* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothig: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul > li {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  border-radius: 14px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #8282f3;
}
.button:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.button-navigate {
  -webkit-box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
          box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}
.button-add {
  border: solid 1px #CAD5FF;
}
.button_active {
  background-color: #5051F9;
}
.button_active img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.app {
  -webkit-box-shadow: 0px 0px 14px rgba(62, 107, 224, 0.5);
          box-shadow: 0px 0px 14px rgba(62, 107, 224, 0.5);
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app .panel {
  padding: 30px;
  background-color: #eff2ff;
}
.app .panel .logo {
  margin-bottom: 50px;
}
.app .panel .navigate {
  margin-bottom: 25px;
}
.app .panel .navigate__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.app .panel .added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app .content {
  background-color: #F3F6FD;
  padding: 45px;
  min-width: 70vh;
}
.app .content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app .content header .progress {
  padding-top: 5px;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.app .content header .progress__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app .content header .progress__name {
  font-size: 14px;
}
.app .content header .progress__percent {
  font-size: 12px;
}
.app .content header .progress__bar {
  width: 100%;
  background-color: #CAD5FF;
  height: 6px;
  border-radius: 3px;
  position: relative;
}
.app .content header .progress__cover-bar {
  position: absolute;
  height: 6px;
  border-radius: 3px;
  width: 80%;
  background-color: #5051F9;
}/*# sourceMappingURL=main.css.map */