* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothig: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul > li {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
}

.app {
  -webkit-box-shadow: 0px 0px 14px rgba(62, 107, 224, 0.5);
          box-shadow: 0px 0px 14px rgba(62, 107, 224, 0.5);
  border-radius: 20px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app .panel {
  padding: 30px;
  background-color: #eff2ff;
}
.app .panel .sticky-block {
  position: sticky;
  top: 20px;
}
.app .panel .logo {
  margin-bottom: 50px;
}
.app .panel .navigate {
  margin-bottom: 25px;
}
.app .panel .navigate__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.app .panel .navigate__item_active .button-navigate {
  background-color: #5051F9;
}
.app .panel .navigate__item_active .button-navigate img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.app .panel .button {
  border-radius: 14px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.app .panel .button:hover {
  background-color: #8282f3;
}
.app .panel .button:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.app .panel .button-navigate {
  -webkit-box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
          box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}
.app .panel .button-add {
  border: solid 1px #CAD5FF;
}
.app .panel .added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app .content {
  background-color: #F3F6FD;
  padding: 45px;
  width: 900px;
}
.app .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app .content .header .progress {
  padding-top: 2px;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.app .content .header .progress__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app .content .header .progress__name {
  font-size: 14px;
}
.app .content .header .progress__percent {
  font-size: 12px;
}
.app .content .header .progress__bar {
  width: 100%;
  background-color: #CAD5FF;
  border-radius: 3px;
  height: 6px;
  position: relative;
}
.app .content .header .progress__cover-bar {
  height: 6px;
  border-radius: 3px;
  background-color: #5051F9;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.app .content .main {
  margin-top: 30px;
}
.app .content .main .days-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.app .content .main .days-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #8282f3;
}
.app .content .main .number-day {
  padding: 20px 0 20px 15px;
  width: 130px;
  background-color: #CAD5FF;
  border-right: 1px solid #8282f3;
}
.app .content .main .number-day__text {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.app .content .main .comment-day {
  padding: 0 8px 0 25px;
  width: 100%;
}
.app .content .main .comment-day div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .content .main .comment-day__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.app .content .main .comment-day__delete {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 4px;
}
.app .content .main .comment-day__delete:hover {
  background-color: #CAD5FF;
}
.app .content .main .comment-day__delete:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.app .content .main .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.app .content .main .btn {
  padding: 12px 33px;
  border-radius: 9px;
  font-family: inherit;
  color: #5051F9;
  background-color: #CAD5FF;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.app .content .main .btn:hover {
  background-color: #5051F9;
  color: white;
}
.app .content .main input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-radius: 9px;
  font-family: inherit;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #E7EBFB;
  padding: 0 20px 0 48px;
}
.app .content .main input::-webkit-input-placeholder {
  color: #9ea6ad;
}
.app .content .main input::-moz-placeholder {
  color: #9ea6ad;
}
.app .content .main input:-ms-input-placeholder {
  color: #9ea6ad;
}
.app .content .main input::-ms-input-placeholder {
  color: #9ea6ad;
}
.app .content .main input::placeholder {
  color: #9ea6ad;
}
.app .content .main input.error {
  border: 1px solid red;
}
.app .content .main .input-img {
  position: absolute;
  top: 10px;
  left: 22px;
}/*# sourceMappingURL=main.css.map */