.app {
    box-shadow: 0px 0px 14px rgba(62, 107, 224, 0.5);
    border-radius: 20px;
    min-height: 50vh;
    display: flex;

    .panel {
        padding: 30px;
        background-color: $color-panel-bg;
        
        .sticky-block {
            position: sticky;
            top: 20px;
        }

        .logo {
            margin-bottom: 50px;
        }
    
        .navigate {
            margin-bottom: 25px;
    
            &__menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }

            &__item {
                &_active {
                    .button {
                        &-navigate {
                            background-color: $basic-color;
                            
                            img {
                                filter: $filter;
                            }
                        }
                    }
                }
            }
        }
    
        .button {
            border-radius: 14px;
            height: 45px;
            width: 45px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;

            &:hover {
                background-color: $icon-hover;

                img {
                    filter: $filter;
                }
            }

            &-navigate {
                box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
            }

            &-add {
                border: solid 1px $border-hover-color;
            }
        }

        .added {
            display: flex;
            justify-content: center;
        }
    }

    .content {
        background-color: $color-bg;
        padding: 45px;
        width: 900px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .progress {
                padding-top: 2px;
                width: 235px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                &__head {
                    display: flex;
                    justify-content: space-between;
                }

                &__name {
                    font-size: 14px;
                }

                &__percent {
                    font-size: 12px;
                }

                &__bar {
                    width: 100%;
                    background-color: $border-hover-color;
                    border-radius: 3px;
                    height: 6px;
                    position: relative;
                }
                
                &__cover-bar {
                    height: 6px;
                    border-radius: 3px;
                    background-color: $basic-color;
                    position: absolute;
                    transition: all .5s;
                }
            }
        }

        .main {
            margin-top: 30px;

            .days-list {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 15px;

            }

            .days-item {
                display: flex;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid $icon-hover;
            }

            .number-day {
                padding: 20px 0 20px 15px;
                width: 130px;
                background-color: $border-hover-color;
                border-right: 1px solid $icon-hover;

                &__text {
                    text-align: left;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            .comment-day {
                padding: 0 8px 0 25px;
                width: 100%;
                
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__text {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                }

                &__delete {
                    padding: 5px;
                    cursor: pointer;
                    transition: all .2s;
                    border-radius: 4px;

                    &:hover {
                        background-color: $border-hover-color;

                        img {
                            filter: $filter;
                        }
                    }
                }
            }

            .comment-form {
                display: flex;
                gap: 15px;
                justify-content: space-between;
                position: relative;
            }

            .btn {
                padding: 12px 33px;
                border-radius: 9px;
                font-family: inherit;
                color: $basic-color;
                background-color: $border-hover-color;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    background-color: $basic-color;
                    color: white;
                }
            }
            
            input {
                flex: 1;
                border: none;
                border-radius: 9px;
                font-family: inherit;
                color: black;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                border: 1px solid $day-border-color;
                padding: 0 20px 0 48px;

                &::placeholder {
                    color: #9ea6ad;
                }

                &.error {
                    border: 1px solid red;
                }
            }

            .input-img {
                position: absolute;
                top: 10px;
                left: 22px;
            }
        }
    }

    .cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;

        &_hidden {
            display: none;
        }
    }

    .popup {
        max-width: 424px;
        background-color: #fff;
        padding: 22px 22px 42px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h2 {
            font-size: 24px;
            line-height: 27px;
            text-align: center;
        }

        .icon-label {
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            margin-top: 20px;
            color: $gray;
            text-align: center;
        }

        .icon-list {
            display: flex;
            gap: 25px;
            justify-content: center;
            margin-top: 10px;
            
            &__button {
                border-radius: 14px;
                height: 45px;
                width: 45px;
                border: 1px solid $basic-color;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s;
            
                &:hover {
                    background-color: $icon-hover;
            
                    img {
                        filter: $filter;
                    }
                }
            }

            &__item {
                &_active {
                    .icon-list__button {
                        background-color: $basic-color;

                        &:hover {
                            background-color: $icon-hover;;
                        }
        
                        img {
                            filter: $filter;
                        }
                    }
                }
            } 
        }

        &__form {
            margin: 18px 0;
            width: 380px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            input {
                border: none;
                flex: 1;
                border-radius: 9px;
                border: 1px solid $day-border-color;
                font-family: inherit;
                color: black;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                padding: 12px 20px;

                &::placeholder {
                    color: $input-text-color;
                }
            }
        }

        .cover-button {
            font-size: 13px;
            line-height: 15px;
            font-weight: 500;
            font-family: inherit;
            cursor: pointer;
            color: #5051F9;
            padding: 12px 24px;
            background-color: #EDECFE;
            margin: 0 auto;
            border-radius: 9px;
            transition: all .3s;

            &:hover {
                transform: scale(.9);
            }
        }
        
        .close {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
            
            &:hover {
                transform: scale(.9);
            }
        }
    }
}