.app {
    display: flex;
    min-height: 100vh;

    .panel {
        padding: 30px;
    }

    .logo {
        margin-bottom: 50px;
    }

    .navigate {
        margin-bottom: 25px;

        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
    }

    .added {
        display: flex;
        justify-content: center;
    }

    .content {
        background-color: $color-bg;
    }
}