$color-bg: #F3F6FD;
$color-panel-bg: #eff2ff;
$icon-hover: #8282f3;
$basic-color: #5051F9;
$input-text-color: #8899A8;;
$input-text-color: #9ea6ad;
$gray: #768396;
$border-hover-color: #CAD5FF;
$day-bg: #FBFAFF;
$day-border-color: #E7EBFB;
$filter: brightness(0) invert(1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothig: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    background-color: white;
    color: black;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul>li {
    list-style: none;
}

img {
    display: block;
}

button {
    border: none;
    background: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}